.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-input-case {
  width: 100%;
  margin-bottom: 10px;
}

.form-input {
  width: 100%;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}