.form {
  display: flex;                /* Используем flexbox для центрирования */
  flex-direction: column;       /* Располагаем элементы в столбик */
  align-items: center;          /* Центрируем элементы по горизонтали */
  width: 280px;                 /* Фиксированная ширина контейнера */
  height: 228px;                /* Фиксированная высота контейнера (по желанию) */
  margin: 20px;               /* Центрируем контейнер на странице */
  padding: 20px;                /* Внутренние отступы контейнера */
  box-sizing: border-box;       /* Учитываем внутренние отступы в размеры */
  background-color: #fff;
  border: 1px solid black;
  border-radius: 16px;
  box-shadow: 0 0 10px 5px #1696ff;
}

.form-input-case {
  width: 100%;
  /* width: 400 px; */
  margin-bottom: 10px;
}

.form-input {
  width: 100%;
  /* width: 400 px; */
  outline: none;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


.button-add {
  width: 130px;
  height: 50px;
  border: none;
  outline: none;
  color: #ffffff;
  /* background: #000000; */
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.button-add:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.button-add:active {
  /* color: #000 */
}

.button-addr:active:after {
  background: transparent;
}

.button-add:hover:before {
  opacity: 1;
}

.button-add:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #1696ff;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}