.form {
  width: 400 px;
  /* display: flex;
  flex-direction: column; */
  align-items: center;
  border: 1px solid #000000;
  border-radius: 16px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 20px;
  margin: 20px;
}

.form-input-case {
  /* width: 100%; */
  width: 400 px;
  margin-bottom: 10px;
}

.form-input {
  /* width: 100%; */
  width: 400 px;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}



/*
  border-radius: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 20px;
  background-color: #fff;
  max-width: 500px;
  width: 100%;
  align-items: center;
*/