.container {
  border: 1px solid #ccc; /* Устанавливаем рамку толщиной 1 пиксель и цветом #ccc */
}

.form-input {
  /* width: 100%; */
  outline: none;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.leftColumn {
  flex: 1;
  margin-right: 16px;
}
.rightColumn {
  flex: 2;
}

.taskCard {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  max-width: 360px;
  margin: 16px auto;
}






.task-card {
  background-color: #fff;
  border: 1px solid black;
  border-radius: 15px;
  padding: 20px;
  max-width: 360px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px;
}

.task-info {
  max-width: 180px;
}

.task-title {
  font-weight: bold;
  margin-bottom: 10px;
}













.task-desc {
  margin-bottom: 10px;
}

.deadline {
  color: #555;
  font-size: 14px;
}

.task-actions {
  display: flex;
  flex-direction: column;
}

.ok-btn, .del-btn {
  padding: 8px 16px;
  border: none;
  border-radius: 20px;
  background-color: #ddd;
  color: #333;
  margin-bottom: 10px;
  cursor: pointer;
  font-weight: bold;
}

.ok-btn:hover, .del-btn:hover {
  background-color: #bbb;
}















.edit-button {
  width: 86px; 
  height: 50px;
  font-size: 25px;
  justify-content: center;
  align-items: center; 
  display: flex; 
  cursor: pointer; /* Изменяем курсор на указатель */
  transition: background-color 0.5s; /* Плавный переход для фона */
  margin: 5px;
}

.edit-button:hover {
  opacity: 0.8;
  background-color: #d2d2d2;
}






.trash-button {
  width: 50px; 
  height: 50px;
  font-size: 35px;
  justify-content: center;
  align-items: center; 
  display: flex; 
  /* border-radius: 50%; 
  background-color: white;
  border: 1px solid rgb(146, 144, 144); 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  cursor: pointer; 
  transition: background-color 0.5s; */
  cursor: pointer; /* Изменяем курсор на указатель */
  transition: background-color 0.5s; /* Плавный переход для фона */
  margin: 5px;
}

.trash-button:hover {
  opacity: 0.8;
  background-color: #d2d2d2;
}



.circle-button {
  width: 50px; /* Ширина кнопки */
  height: 50px; /* Высота кнопки */
  font-size: 35px; 
  justify-content: center;
  align-items: center; 
  display: flex; 
  /* border-radius: 50%;
  background-color: white; 
  border: 1px solid rgb(146, 144, 144);  */
  /* display: flex;
  
  align-items: center; */
  cursor: pointer;
  transition: background-color 0.5s;
  margin: 5px;
}



.circle-button:hover {
  opacity: 0.8;
  background-color: #d2d2d2;
}


/* .checkmark {
  color: rgb(240, 22, 22); 

  transition: color 0.8s; 
} */

/* .circle-button.active .checkmark {
  color: green;
} */



.checkmark.white {
  color: rgb(157, 153, 153); 
}

.checkmark.green {
  color: green;
}





/* .circle-button {
  width: 60px; 
  height: 60px; 
  border-radius: 50%; 
  background-color: white; 
  border: 2px solid black; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  cursor: pointer; 
  transition: background-color 0.3s; 
}

.checkmark {
  font-size: 30px; 
  transition: color 0.3s; 
}




.circle-button.active {
  background-color: #e0ffe0;
} */



.filter {
  /* padding: 10px;
  border-radius: 16px;
  border: 1px solid #ccc; */
 



  background-color: #fff;
  border: 1px solid black;
  border-radius: 15px;
  padding: 20px;
  max-width: 360px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin: 16px;


  
  flex-direction: column;       /* Располагаем кнопки в столбик */
  
}


.form_radio_group {
  display: inline-block;

	overflow: hidden;
}













.form_radio_btn {
	display: inline-block;

	float: left;  
}






.form_radio_btn input[type=radio] {
	display: none;
}

.form_radio_btn label {
	display: inline-block;
	cursor: pointer;
	padding: 0px 15px;
	line-height: 34px;
	border: 1px solid #999;
	border-radius: 6px;
	user-select: none;
}

/* Checked */
/* .form_radio_btn input[type=radio]:checked + label {
	background: #ffe0a6;
} */






/* Hover */
.form_radio_btn label:hover {
	color: #666;
}





.form_radio_btn input[type="radio"]:checked + span {
  color: #ff0000; /* Цвет текста при выборе */
  font-weight: bold;
}




.form_radio_btn input[type="radio"]:checked {
  /* Добавляем стили для отмеченной радиокнопки */
  background-color: #336162; /* Меняем цвет фона на зелёный при выборе */
}




.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.slide-enter {
  transform: translateY(-30px) scale(0.95);
  opacity: 0;
}
.slide-enter-active {
  transform: translateY(0) scale(1);
  opacity: 1;
  transition: transform 1000ms ease-in-out, opacity 1000ms ease-in-out;
}
.slide-exit {
  transform: translateY(0);
  opacity: 1;
}
.slide-exit-active {
  transform: translateY(-30px);
  opacity: 0;
  transition: transform 1000ms ease-in-out, opacity 1000ms ease-in-out;
}



.list-punkt {
  list-style-type: none;
}
