.btn {
  padding: 10px 20px;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
}

.btn-pressed {
  background-color: darkblue;
}

.btn-over {
  background-color: rgb(137, 137, 201);
}
